{% extends 'base.html' %}
{% load staticfiles %}

{%block content %}

<div>
  <a href="{% url 'home' %}"> <img src="{% static 'logo.png' %}" width="250px"; height="200px";></a>
</div>

<div class='font'>
   <ul>
     {% for item in review %}
     <li>
       <div class="card" style="width: 18rem;">
        {% if item.radio == "like" %}
          <img src="{% static 'good.png' %}" width="70px"; height="200px"; class="card-img-top" alt="...">
        {% elif item.radio == "dislike" %}
          <img src="{% static 'bad.png' %} " width="60px"; height="200px"; class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
              <h5 class="card-title">제목: {{item.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">작성자: {{item.writer}}</h6>
              <a href ="{% url 'show' item.pk %}" class="btn btn-primary">내용보기</a>
        </div>
      </div>
    </li> 
    {% endfor %}
  </ul>
</div>

    <br>

<p><a href="{% url 'review' %}"><img src="{% static 'write.png' %}" width=400px; height=150px;></a></p> 
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
<style type="text/css">


 .card-title {
     font-family: 'Do Hyeon', sans-serif;
 }
 .card-subtitle {
     font-family: 'Do Hyeon', sans-serif;
 }
.btn  {
     font-family: 'Do Hyeon', sans-serif;
 }
  body {
      background-image: url({% static 'carrot.jpg' %});
  }
  p { 
     text-align : center; 
    
  }
  ul {
    list-style : none;
    margin : 0;
    overflow : hidden;
  }
  li {
    float : left;
  }
  
  .card {
	display: inline-block;
	margin-top: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	position: relative;
  }
  

</style>

{% endblock %}